@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*HEADER*/

header{
    position: sticky;
    top: 0;
}
header .navbar{
    background-color:  #003d83 !important;
}
header .navbar .logo-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
header .navbar .nav-item .nav-link h3:hover{
    color: #9de0ff !important;
}
header .navbar h2{
    color: #ffffff;
    font-family: "Host Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
}
header .navbar h3{
    color: #ffffff;
    font-family: "Host Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
header nav ul{
    list-style: none;
    display: flex;
}
header nav ul li{
    margin: 12px;
}
header nav ul li a{
    text-decoration: none;
}
/*MAIN*/
body{
    --bs-body-bg: rgb(255, 253, 242);
}
.containers{
    width: 100%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.imagen-texto{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 60px;
}
.hero{
    width: 100%;
    height: calc(60vh - 70px);
    background-image: url(../img/cyberp-camas.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f35900;
}



.aprobados .imagen-texto .aprobados-imagen{
    width: 60%;
}
.aprobados .imagen-texto .aprobados-imagen img{
    width: 100%;
}
.aprobados .imagen-texto .aprobados-contenido{
    width: 40%;
}
.aprobados .imagen-texto .aprobados-contenido h2{
    font-family: "Host Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 42px;
    margin: 0 0 16px;
    color: rgb(104, 50, 186);
}
.aprobados .imagen-texto .aprobados-contenido h3{
    font-family: "Host Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    margin: 0 0 16px;
    color: #003d83;
}


.productos .contenido{
    padding: 60px 0;
}
.productos .contenido .opciones{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 40px;
}
.productos .contenido .opciones span{
    color: #f35900;
    background-color: rgb(255, 253, 242);
    padding: 16px 12px;
    border-radius: 8px;
    border-color: #f35900;
    border: 1.5px solid;
    cursor: pointer;
    transition: 0.4s ease;
}
.productos .contenido .opciones span:hover{
    color: #fff;
    background-color: #f35900;
}
.productos .contenido .opciones span h3{
    font-family: "Host Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    margin: 0;
}


.productos .contenido .titulo-1 h2{
    font-family: "Host Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 42px;
    margin: 0 0 40px;
    color: rgb(104, 50, 186);
    text-align: center;
}
.productos .contenido .grande h4{
    font-family: "Host Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    margin: 0 0 16px;
    color: #003d83;
}
.carrusel1{
    width: 90%;
    max-width: 120em;
}
.carrusel1 .card{
    width: calc(100% /6);
    border: 1.5px solid;
    border-color: #b4bac1;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    transition: 0.4s ease;
}
.carrusel1 .grande{
    width: 600%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;

    transition: all .5s ease;
    transform: translateX(0%);
}

.carrusel1 .puntos{
    width: 100%;
    background-color: #59f300;
    padding: 16px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.carrusel1 .puntos .punto{
    width: 24px;
    height: 24px;
    background-color: #f35900;
    margin: 12px;

}
.carrusel1 .puntos .punto .punto.activo{
    background-color: #00f371;
    
}


.productos .contenido .grande .card:hover{
    border-color: rgb(104, 50, 186);
}
.productos .contenido .grande .card .btn{
    --bs-btn-bg: rgb(104, 50, 186);
    --bs-btn-border-color: rgb(104, 50, 186);
}
.productos .contenido .grande .card:hover .btn{
    --bs-btn-bg: rgb(143, 69, 255);
    --bs-btn-border-color: rgb(143, 69, 255);
    --bs-btn-hover-bg: rgb(143, 69, 255);
    --bs-btn-hover-border-color: rgb(143, 69, 255);
    --bs-btn-active-bg: rgb(77, 37, 138);
    --bs-btn-active-border-color: rgb(77, 37, 138);
}






.beneficios .contenido{
    padding: 60px 0;
}
.beneficios .contenido .imagen-texto  h3{
    font-family: "Host Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    color: #003d83;
}
.beneficios .contenido .titulo-1 h2{
    font-family: "Host Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 42px;
    margin: 0 0 40px;
    color: rgb(104, 50, 186);
    text-align: center;
}
.beneficios .contenido .imagen-texto .card{
    --bs-border-width: 2px;
}
.beneficios .contenido .imagen-texto .icon-1{
    padding-top: 16px;
}




.calidad .imagen-texto{
    padding: 60px 0;
}
.calidad .imagen-texto .aprobados-imagen{
    width: 60%;
}
.calidad .imagen-texto .aprobados-imagen img{
    width: 100%;
    border-radius: 14px;
}
.calidad .imagen-texto .aprobados-contenido{
    width: 40%;
}
.calidad .imagen-texto .aprobados-contenido h2{
    font-family: "Host Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 42px;
    margin: 0 0 16px;
    color: rgb(104, 50, 186);
}
.calidad .imagen-texto .aprobados-contenido h3{
    font-family: "Host Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    margin: 0 0 16px;
    color: #003d83;
}