@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Host Grotesk", serif;
}
/*HEADER*/

header{
    top: 0;
}
header .navbar{
    background-color:  #003d83 !important;
}
header .navbar .logo-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
header .navbar .nav-item .nav-link h3:hover{
    color: #9de0ff !important;
}
header .navbar h2{
    color: #ffffff;
    font-family: "Host Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
}
header .navbar h3{
    color: #ffffff;
    font-family: "Host Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
header nav ul{
    list-style: none;
    display: flex;
}
header nav ul li{
    margin: 12px;
}
header nav ul li a{
    text-decoration: none;
}
/*MAIN*/
body{
    --bs-body-bg: rgb(255, 253, 242);
}
.containers{
    width: 100%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.imagen-texto{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 60px;
}
.hero{
    width: 100%;
    height: calc(60vh - 70px);
    background-image: url(../img/cyberp-camas.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f35900;
}


.aprobados{
    padding: 40px 0;
}
.aprobados .imagen-texto .aprobados-imagen{
    width: 60%;
}
.aprobados .imagen-texto .aprobados-imagen img{
    width: 100%;
}
.aprobados .imagen-texto .aprobados-contenido{
    width: 40%;
}
.aprobados .imagen-texto .aprobados-contenido h2{
    font-family: "Host Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 42px;
    margin: 0 0 16px;
    color: rgb(104, 50, 186);
}
.aprobados .imagen-texto .aprobados-contenido h3{
    font-family: "Host Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    margin: 0 0 16px;
    color: #003d83;
}


.productos .contenido{
    padding-top: 50px;
}
.productos .contenido .opciones{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 40px;

}
.productos .contenido .opciones a{
    position: relative;
    letter-spacing: 0.5px;
    font-family: "Host Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    color: #f35900;
    padding: 10px;
    cursor: pointer;
    transition: 0.4s ease;
}
.productos .contenido .opciones a::after{
    content: "";
    position: absolute;
    background-color: rgb(104, 50, 186);
    height: 3px;
    width: 0;
    left: 0;
    bottom: 0;
    transition: 0.3s;
}
.productos .contenido .opciones a:hover{
    color: rgb(104, 50, 186);
}
.productos .contenido .opciones a:hover::after{
    width: 100%;
}


.productos .contenido .titulo-1 h2{
    font-family: "Host Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 42px;
    margin: 0 0 40px;
    color: rgb(104, 50, 186);
    text-align: center;
}


/* Contenedor del slider */
.slider-container {
    position: relative;
    width: 80%;
    overflow: hidden;
}

/* Contenedor del slider */
.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    flex-direction: row;
}

/* Estilo de las cards */
.card-lista {
    min-width: 25%;
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 1.5px solid;
    border-color: #adb5bd;
}

.card-lista h3 {
    font-family: "Host Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: #003d83;
    margin: 0 0 16px;
}



.card-lista .card-items img{
    width: 100%;
}
.card-lista .card-texto .btn{
    background-color: rgb(104, 50, 186);
    color: #ffffff;
    border: none;
    padding: 10px 18px;
    font-size: 20px;
}


.card-lista:hover{
    border-color: #8f45ff;
}
.card-lista .card-texto .btn:active {
    background-color: #8f45ff;
}

.card-lista .card-texto .btn:hover {
    background-color: #8f45ff;
}
.card-lista:hover .btn{
    background-color: #8f45ff;
}



/* Estilo de los botones de navegación */
.prev-btn, .next-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 32px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
}

.card-productos{
    position: relative;
    overflow: hidden;
}
.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.prev-btn:hover, .next-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}











.beneficios .contenido{
    padding: 60px 0;
}
.beneficios .contenido .imagen-texto  h3{
    font-family: "Host Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    color: #003d83;
}
.beneficios .contenido .titulo-1 h2{
    font-family: "Host Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 42px;
    margin: 0 0 40px;
    color: rgb(104, 50, 186);
    text-align: center;
}
.beneficios .contenido .imagen-texto .card{
    --bs-border-width: 2px;
}
.beneficios .contenido .imagen-texto .icon-1{
    padding-top: 16px;
}




.calidad .imagen-texto{
    padding: 60px 0;
}
.calidad .imagen-texto .aprobados-imagen{
    width: 60%;
}
.calidad .imagen-texto .aprobados-imagen img{
    width: 100%;
    border-radius: 14px;
}
.calidad .imagen-texto .aprobados-contenido{
    width: 40%;
}
.calidad .imagen-texto .aprobados-contenido h2{
    font-family: "Host Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 42px;
    margin: 0 0 16px;
    color: rgb(104, 50, 186);
}
.calidad .imagen-texto .aprobados-contenido h3{
    font-family: "Host Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    margin: 0 0 16px;
    color: #003d83;
}